@using Bookland.Helpers

@{
    ViewBag.Title = ViewBag.Title + " - Bookland Admin";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="/Scripts/Bookland/messageHide.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="horizontal account">
            @Html.ActionLink("Store", "Index", "Home", new { area = "" }, null)
            @Html.ActionLink(User.Identity.Name, "Index", "Account", new { area = "", userName = User.Identity.Name }, null)
            @Html.ActionLink("Log Out", "LogOut", "Account", new { area = "", returnUrl = Request.Url.PathAndQuery }, null)
        </nav>

        <header>
            @Html.ImageActionLink(imageLocation: "/Content/Images/bookland-logo.gif", 
                imageHeight: 60, classes: new[] { "logo" },
                action: "Index", controller: "Home")
            Admin
        </header>

        <nav class="horizontal menu">
            @Html.ActionLink("Products", "Index", "Product")
            @Html.ActionLink("Categories", "Index", "Category")
            @Html.ActionLink("User Accounts", "Index", "Account")
        </nav>

        <div id="main-admin">
            @if (TempData["message"] != null) {
                <div class="message notification">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
    </div>

</body>
</html>