@using Bookland.Constants
@model Bookland.Models.Product
<a href="@Url.Action("ProductDetails", "Home", new { productID = Model.ProductID })" class="image-link">
    @if (!Model.IsImageInformationNullOrEmpty) {
        <img src="@Url.Action("GetImage", "Home", new { productID = Model.ProductID })" height="200" title="@Model.Description" alt="@Model.ProductID" />
    } else {
        <img src="/Content/Images/placeholder.gif" height="200" title="@Model.Description" alt="@Model.ProductID" />
    }
</a>

<div class="title-link">
    <strong>
        <a href="@Url.Action("ProductDetails", "Home", new { productID = Model.ProductID })">@Model.Name</a>
    </strong> 
    @if (!Model.ProductStatus.ProductStatusName.Equals(ProductStatusOptions.OnSale)) { 
        @: (@Model.ProductStatus.ProductStatusName)
    }
</div>
@String.Format("{0:c}", Model.Price) <br />
@using(Html.BeginForm("CartItemAdd", "Cart")) {
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.ProductID)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

    <input type="submit" value="Add to cart" />
}