@model Bookland.Areas.Admin.Models.UsersViewModel
@{
    ViewBag.Title = "User Accounts";
}

<h2>User Accounts</h2>

@Html.ActionLink("Create", "Create", null, new { @class = "actions-link" })

<table>
    @using (Html.BeginForm("Index", "Account", FormMethod.Get)) {
        <tr>
            <th colspan="3">
                Role:
                @Html.DropDownList("Role", Model.RoleFilterOptions, new { onchange = "submit()" })
                <noscript><input type="submit" value="Go" /></noscript>
            </th>
            <th></th>
            <th colspan="2" style="text-align: right">
                Order:
                @Html.DropDownList("Order", Model.OrderOptions, new { onchange = "submit()" })
                <noscript><input type="submit" value="Go" /></noscript>
            </th>
        </tr>
    }
    @if (Model.UserProfiles != null && Model.UserProfiles.Count() > 0) {
        <tr>
            <th>ID</th>
            <th>User name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var userProfile in Model.UserProfiles) {
                <tr>
                    <td>@userProfile.UserID</td>
                    <td>@userProfile.UserName</td>
                    <td>@userProfile.FirstName</td>
                    <td>@userProfile.LastName</td>
                    <td>@userProfile.Role</td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { userName = userProfile.UserName }, new { @class = "actions-link" })
                        <a href="#" class="actions-link">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    } else {
        <tr><td colspan="6">There are no users available.</td></tr>
    }
</table>