@{
    ViewBag.Title = "Your Account";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<p>@Html.ActionLink("Update user details", "Update")</p>

<p>@Html.ActionLink("Change password", "ChangePassword")</p>

<p>@Html.ActionLink("View purchase history", "Index", "Purchases")</p>
