@model Bookland.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.ResetToken)

        @Html.HiddenFor(m => m.OldPassword)

        <div class="form-row">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { autofocus = "", @class = "text-box single-line" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box single-line" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <input type="submit" value="Reset" />
    }
</p>