@model Bookland.Models.RegisterModel

@{
    ViewBag.Title = "Update";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Update user details</h2>

@using (Html.BeginForm("Update", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.Password)
    @Html.HiddenFor(m => m.ConfirmPassword)
    
    <div class="form-row">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { autofocus = "", @class = "text-box single-line" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    
    <div class="form-row">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    
    <div class="form-row">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    
    <h3>Address</h3>
    
    <div class="form-row">
        @Html.LabelFor(m => m.StreetLine1)
        @Html.EditorFor(m => m.StreetLine1)
        @Html.ValidationMessageFor(m => m.StreetLine1)
    </div>
    
    <div class="form-row">
        @Html.LabelFor(m => m.StreetLine2)
        @Html.EditorFor(m => m.StreetLine2)
        @Html.ValidationMessageFor(m => m.StreetLine2)
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City)
        @Html.ValidationMessageFor(m => m.City)
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.State)
        @Html.EditorFor(m => m.State)
        @Html.ValidationMessageFor(m => m.State)
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.Country)
        @Html.EditorFor(m => m.Country)
        @Html.ValidationMessageFor(m => m.Country)
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.Postcode)
        @Html.EditorFor(m => m.Postcode)
        @Html.ValidationMessageFor(m => m.Postcode)
    </div>
    
    <input type="submit" value="Update" />
}