@model Bookland.Areas.Admin.Models.PurchasesViewModel

@{
    ViewBag.Title = "Purchase History - " + Model.UserName;
}

<h2>@ViewBag.Title</h2>

@{ string newTransaction = string.Empty; }

@if (Model.Purchases != null && Model.Purchases.Count > 0)
{
    <table id="purchase-history-table">
        <thead>
            <tr>
                <th class="prod-col">Product</th>
                <th class="prc-col">Price</th>
                <th class="quant-col">Quantity</th>
                <th class="prc-quant-col">Item total</th>
                <th class="status-col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model.Purchases)
            {
                string currentTransaction = purchase.TransactionID.ToString();
                if (!currentTransaction.Equals(newTransaction))
                {
                    newTransaction = currentTransaction;
                    <tr><td colspan="5"><h3>Order @newTransaction</h3></td></tr>
                    <tr><td colspan="5"><h4>@purchase.PurchaseDate</h4></td></tr>
                }

                <tr>
                    <td>@Html.ActionLink(purchase.Product.Name, "Update", "Product", new { productID = purchase.Product.ProductID }, null)</td>
                    <td>@string.Format("{0:c}", purchase.PurchasePrice) </td>
                    <td>@string.Format("x{0}", purchase.PurchaseQuantity) </td>
                    <td>@string.Format("{0:c}", (purchase.PurchasePrice * purchase.PurchaseQuantity)) </td>
                    <td>@purchase.PurchaseStatus</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@Model.UserName has not purchased anything yet.</p>
}