@model Bookland.Areas.Admin.Models.ProductsViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@Html.ActionLink("Create", "Create", "Product", null, new { @class = "actions-link" })

<table>
    <colgroup>
        <col span="1" style="width: 5%" />
        <col span="1" style="width: 15%" />
        <col span="1" style="width: 40%" />
        <col span="1" style="width: 5%" />
        <col span="1" style="width: 10%" />
        <col span="1" style="width: 25%" />
    </colgroup>
    @using(Html.BeginForm("Index", "Product", FormMethod.Get)) {
        <tr>
            <th colspan="3">
                Category:
                @Html.DropDownList("CategoryID", Model.CategoryFilterOptions, new { onchange = "submit()" })
                <noscript><input type="submit" value="Go" /></noscript>
            </th>
            <th colspan="3" style="text-align: right">
                Order:
                @Html.DropDownList("Order", Model.OrderOptions, new { onchange = "submit()" })
                <noscript><input type="submit" value="Go" /></noscript>
            </th>
        </tr>
    }
    @if (Model.Products != null && Model.Products.Count > 0) {
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th><!-- Product name column --></th>
            <th>Price</th>
            <th>Status</th>
            <th><!-- Actions column --></th>
        </tr>
        <tbody>
            @foreach (var product in Model.Products) {
                <tr>
                    <td>@product.ProductID</td>
                    <td class="image-col">
                        @if (!product.IsImageInformationNullOrEmpty) {
                            <img src="@Url.Action("GetImage", "Home", new { area = "", productID = product.ProductID })" alt="IMG" height="75" />
                        } else {
                            <img src="/Content/Images/placeholder.gif" alt="book-img" height="75" />
                        }
                    </td>
                    <td>
                        <strong>@product.Name (@product.Year)</strong> <br />
                        @product.Category.CategoryName
                    </td>
                    <td>@String.Format("{0:c}", product.Price)</td>
                    <td>@product.ProductStatus.ProductStatusName</td>
                    <td>
                        @Html.ActionLink("Update", "Update", "Product", new { productID = product.ProductID }, new { @class = "actions-link" })
                    </td>
                </tr>
            }
        </tbody>
    } else {
        <tr><td colspan="5">There are no products.</td></tr>
    }
</table>